* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
}

.app {
  text-align: center;
  padding: 20px;
  color: #918d8d;
  z-index: 1;
  position: relative;
}

h1 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.mood-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 25px;
}

.mood {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}

.mood:hover {
  background: rgba(255, 255, 255, 0.4);
}

.output {
  margin-top: 20px;
}

#musicPlayer {
  margin-top: 20px;
  border-radius: 10px;
}

#emojiRain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.emoji {
  position: absolute;
  font-size: 2rem;
  animation: fall linear;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
.footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: white;
  background-color: #00e0ff;
  padding: 10px 0;
}

.footer a {
  color: #00000f;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.personal {
  margin-top: 20px;
  color: white;
}
input #nameInput {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
}

#startBtn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #00e0ff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

#startBtn:hover {
  background-color: #00aaff;
}